* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
    /* background-image: url('https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252__340.jpg');
 */
}

#instructions {
    font-size: 20px;
}

.rules {
    font-size: 16px;
}
.images {
    border-radius: 50%;
    border: solid black 1px;
    color: white;
   
}



body {
    border: solid black 2px;
    margin: auto;
    width: 85%;
    padding: 10px 25px 10px 25px;
    text-align: center;
    font-size: 12px;
    
}

.userChoiceSelect {
    display: inline-block;
    justify-content: center;
    margin: 10px 20px 10px 20px;
}

#labels {
    display: inline-block;
    
}

#play-button {
    border: solid black 1px;
    font-size: 14px;
}